body {
    background-image:url(./dl.jpg)!important;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    padding: 10px;
}
